{{ define "main" }}

This is the index template

{{ .Content }}


<div class="summaries">
    <ul>
		{{ range first 3 site.RegularPages.ByLastmod.Reverse }}
        <li><a href="{{.RelPermalink}}">{{.Title}}</a>{{ .Render "summary"}}</li>
        {{ end }}
    </ul>
</div>


<div class="summaries">
    <ul>
        <!-- Renders the li.html content view for each content/posts/*.md -->
        {{ range .Pages.ByTitle }}
        <li><a href="{{.RelPermalink}}">{{.Title}}</a>{{ .Render "summary"}}</li>
        {{ end }}
    </ul>

</div>


{{end}}
