[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "themes/flex"]
	path = themes/flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/cupper"]
	path = themes/cupper
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/hugomodo"]
	path = themes/hugomodo
	url = https://github.com/hugomodo/hugomodo-best-motherfucking-website
	branch = 0.1.0-standalone
